<div id="review" class="reviews" xmlns:http="http://www.w3.org/1999/xhtml">
    <h2 class="reviews__header">Отзывы</h2>

    <div class="reviews__rating-wrapper">
        <div class="rating">
            <div class="rating__rating">
                <span class="rating__value">{{total_review_rating}}</span>
                {{#each (calculateStars total_review_rating)}}
                    <span class="rating__star">
                      <!-- Серый фон звезды -->
                      <svg class="rating__star--background" xmlns="http://www.w3.org/2000/svg" viewBox="-10 -960 980 980">
                        <path d="m378-330 102-60 103 60-29-113 89-75-116-10-47-108-47 109-116 9 90 74-29 114ZM185-65l80-331L3-620l343-29 134-313 134 314 343 28-262 224 80 331-295-176L185-65Zm295-408Z"/>
                      </svg>
                        <!-- Заполненная часть звезды -->
                      <svg class="rating__star--filled" style="--fill-percentage: {{this}}%;" xmlns="http://www.w3.org/2000/svg" viewBox="-10 -960 980 980">
                        <path d="m378-330 102-60 103 60-29-113 89-75-116-10-47-108-47 109-116 9 90 74-29 114ZM185-65l80-331L3-620l343-29 134-313 134 314 343 28-262 224 80 331-295-176L185-65Zm295-408Z"/>
                      </svg>
                    </span>
                {{/each}}
            </div>

            <div class="reviews__reviews-count">
                {{formatNumber total_review_count}} {{pluralize total_review_count 'отзыв' 'отзыва' 'отзывов'}}
            </div>
        </div>
        <div class="reviews__sort">
            <span class="reviews__sort-title">Сортировка:</span>
            <span class="reviews__sort-button active" data-sort-order="desc">по убыванию</span>
            <span class="reviews__sort-button" data-sort-order="asc">по возрастанию</span>
            <div class="reviews__sort-dropdown">
                <span class="reviews__sort-button" id="main-sort" data-sort="rating">Рейтингу<span class="material-icons">expand_more</span></span>
                <div class="reviews__sort-dropdown-options" style="display: none;">
                    <div class="reviews__sort-dropdown-option" data-sort="rating">Рейтингу</div>
                    <div class="reviews__sort-dropdown-option" data-sort="date">Дате</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="review-card">
    <div class="review">
        <div>
            <div class="review__avatar">
                <img src="{{user.avatar_url}}"
                     onerror="this.style.backgroundColor='#D9D9D9';
                     this.src='/assets/img/static/avatar.svg'" alt="">
            </div>
            <div class="review__rating">
                <div class="review__stars">
                    {{#each (range 5)}}
                        <span class="review__star" data-value="{{increment @index}}"
                              title="Rate {{increment @index}}" aria-hidden="true">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" width="24px" viewBox="-10 -960 980 980">
                          <path d="m378-330 102-60 103 60-29-113 89-75-116-10-47-108-47 109-116 9 90 74-29 114ZM185-65l80-331L3-620l343-29 134-313 134 314 343 28-262 224 80 331-295-176L185-65Zm295-408Z"/>
                        </svg>
                    </span>
                    {{/each}}
                </div>
                <div class="review__name" id="review__name">{{user.name}}</div>
            </div>
        </div>
        <textarea class="review__comment" placeholder="Что вам понравилось?"></textarea>
        <div class="review__footer">
            <button class="review__submit" {{#if flag}}router="changed-active" href="/login"{{/if}}>{{value}}</button>
            <label class="review__checkbox">
                <input type="checkbox" class="review__select-item review__anonymous-checkbox" id="review-checkbox"> <part>Отправить отзыв анонимно</part>
            </label>
        </div>
    </div>
</div>

<div class="review__message-box" style="display: none;"></div>

<div id="review-list"></div>
