<!--<div id="loading-placeholder" class="center-container">-->
<!--    <div class="spinner"></div>-->
<!--    <h1 class="loading-text">Скоро</h1>-->
<!--    <p class="loading-text">Товары будут добавлены позже.</p>-->
<!--</div>-->

<div class="container">
  <div class="cards-view-title" style="display: block; margin-bottom: 10px; margin-left: 20px;">
    {{page_title}}
  </div>
<!--  <div class="cards-view-title" style="display: block; margin-bottom: 10px; margin-left: 20px;">-->
<!--    <div id="breadcrumbs" class="breadcrumbs-container"></div>-->
<!--  </div>-->

    <div class="catalog" id="cards">
        {{#each products}}
            <div class="catalog__card" href="/product/{{id}}" router="changed-active">
                <div class="catalog__card-image">
                    <img
                            src="{{image_url}}"
                            loading="lazy"
                    />
                    <!--                        onerror="this.onerror=null;this.src='https://via.placeholder.com/150';"-->
                    <!--                />-->
                </div>
                <div class="catalog__card-info">
                    <div class="catalog__card-info__price">
                        <span class="catalog__card-info__price__current-price">{{costFormat price}}₽</span>
                        {{#if original_price}}
                            <span class="catalog__card-info__price__old-price">{{costFormat original_price}}₽</span>
                        {{/if}}
                        {{#if discount}}
                            <span class="catalog__card-info__price__discount">-{{discount}}%</span>
                        {{/if}}
                    </div>
                    <div class="catalog__card-title">
                        {{title}}
                    </div>

                    <!--        <a class="buy-button">В корзину</a>-->
                </div>
            </div>
        {{/each}}
    </div>
</div>