<div class="orders">
  <div id="order-list-container" class="order-list">
    <h2 class="order-list-title">Мои заказы</h2>
    {{#each orders as |order|}}
      <div class="order-list__card" href="/order/{{order.id}}" router="changed-active">
        <div class="order-list__card__header">
          <span class="order-list__card-date">Заказ от {{order.date}}</span>
          <span class="order-list__card-total">оплачено {{order.total}}₽</span>

        </div>
        <div class="order-list__details">
          <span class="order-list__details-status">{{order.status}}</span>

        </div>
        <div class="order-list__footer">
          <button id="review-button" class="order-list__review-button">Оцените товары</button>
          <div class="order-list__items">
            {{#each order.items as |item|}}
              <div class="order-list__items-item">
                <img src="{{item.image}}" alt="{{item.name}}" class="order-item-image"/>
              </div>
            {{/each}}
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>

