<div id="{{id}}" class="modal__main" tabindex="-1">
    <div class="modal__container">
        <span class="btn__close" data-action="close">&times;</span>
        <h1 class="logo">{{logo}}</h1>
        <h2 class="modal__title">{{title}}</h2>
        <form id="{{formId}}">
            {{#each fields as |field|}}
                <label for="{{field.id}}">{{field.label}}:</label>
                <input type="{{field.type}}" id="{{field.id}}" name="{{field.name}}" {{#if field.required}}required{{/if}}/>
            {{/each}}
            <button type="submit">{{submitText}}</button>
        </form>
    </div>
</div>