<div id="{{id}}" class="auth-container">
  <h4 class="auth-container__title">{{title}}</h4>

  <div class="auth-container__error" id="global_error" style="display: none;">
    <span class="form__error-feedback" id="global_error_message">{{error_msg}}</span>
  </div>

  <form id="{{formId}}" action="{{action}}" method="post" class="form">
    <span class="form__error-feedback" id="error"></span>
    {{#each fields as |field|}}
      <div class="input-container">
        <label for="{{field.id}}" class="form__label">{{field.label}}</label>
        <input type="{{field.type}}" id="{{field.id}}" name="{{field.name}}" placeholder="{{placeholder}}"
               data-error-id="{{field.error_id}}" class="form__input" />
        {{#if (eq field.type 'password')}}
          <span class="input-container__toggle-password" data-field-id="{{field.id}}">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="#8A2BE2" stroke-width="2"
                 stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye" width="24" height="24">
              <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
              <circle cx="12" cy="12" r="3"></circle>
            </svg>
          </span>
        {{/if}}
      </div>
      <span class="form__error-feedback" id="{{field.error_id}}"></span>
    {{/each}}
    <button type="submit" class="form__submit-button">{{submitText}}</button>
  </form>
  <div class="auth-container__link">{{link.text}} <a class="auth-container__a" router="changed-active" href="{{link.href}}">{{link.label}}</a></div>
</div>
