<div class="product">
    {{> carousel-slider images=images }}
  <div class="product-page__product-info">
    <h1 class="product-page__product-name">{{title}}</h1>
    <div class="product-page__rating">
      <span router="changed-active" href="/soon" class="text-rating">
        <svg xmlns="http://www.w3.org/2000/svg"
             height="24px"
             viewBox="0 -960 960 960"
             width="24px" fill="#ffcd42">
          <path d="m378-330 102-60 103 60-29-113
          89-75-116-10-47-108-47 109-116
          9 90 74-29 114ZM185-65l80-331L3-620l343-29
           134-313 134 314 343 28-262 224 80
           331-295-176L185-65Zm295-408Z" />
        </svg>
        <span>{{rating}}</span>
      </span>
      <span router="changed-active" href="/soon" class="text-review" href="/comments">{{review_count}} отзывов</span>
      <!--      <span router="" class="material-icons" href="/videos">videocam_outlined</span>-->
      <!--      <span router="stability-active" href="/videos">{{videoCount}} видео</span>-->
    </div>
    <div class="product-page__brand">
      <img src="{{seller.logo}}" alt="brand logo">
      {{seller.name}}
    </div>
    <!--    {{#each options.values}}-->
    <!--      <div class="product-page__option">-->
    <!--        <div class="product-page__option-title">{{title}}:</div>-->
    <!--        <div class="product-page__option-values">-->
    <!--          {{#each options}}-->
      <!--            {{#ifEquals ../type "color"}}-->
        <!--              <button class="product-page__color-button {{#if
          selected}}selected{{/if}}" style="background-color: {{value}};" href="{{link}}" router="changed-active" title="{{value}}">-->
        <!--                <span class="product-page__color-circle"></span>-->
        <!--              </button>-->
        <!--            {{else ifEquals ../type "size"}}-->
        <!--              <button class="product-page__size-button {{#if
          selected}}selected{{/if}}" href="{{link}}" router="changed-active">-->
        <!--                {{value}}-->
        <!--              </button>-->
        <!--            {{else}}-->
        <!--              <a href="{{link}}" router="changed-active" class="product-page__text-option">{{value}}</a>-->
        <!--            {{/ifEquals}}-->
      <!--          {{/each}}-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    {{/each}}-->

    <div class="product-page__characteristics">
      <ul>
        {{#each characteristics}}
          <div class="product-page__description-item">
            <span class="product-page__description-key">{{@key}}</span>: <span class="product-page__description-value">{{this}}</span>
          </div>
        {{/each}}
      </ul>
    </div>

<!--    <div class="product-page__more-description-link">Перейти к описанию</div>-->
<!--    <div class="product-page__description-product-page">-->
<!--      <span style="width: 90%">{{description}}</span>-->
<!--    </div>-->
  </div>

  <div class="product-page__purchase-info">
    <div class="product-page__price-box">
      <div class="product-page__current-price-product-page">{{price}} ₽</div>
      <div class="product-page__old-price">{{original_price}} ₽</div>
      <div class="product-page__cart-container">
        <button class="product-page__cart-button" {{#if flag}}router="changed-active" href="/login"{{/if}}>{{value}}</button>
<!--        <span class="material-icons product-page__favorite-icon">favorite_border_outlined</span>-->

      </div>
    </div>

<!--    <div class="product-page__return-policy">-->
<!--      <span class="product-page__description-key">На возврат</span>: <span class="product-page__description-value">14 дней</span>-->
<!--      <br>-->
<!--      <span class="product-page__description-value">Примерка</span>-->
<!--    </div>-->
  </div>
</div>

<div class="product-page__description-product-page">
  <span style="width: 90%">{{description}}</span>
</div>