<div class="product">
  <div class="product-page__carousel-slider-container">
    {{> carousel-slider images=images }}
  </div>
  <div class="product-page__product-info">
    <h1 class="product-page__product-name">{{title}}</h1>
    <div class="product-page__rating">
      <span class="text-rating">⭐ {{rating}}</span>
      <span router="stability-active" class="text-review" href="/comments">{{review_count}} отзывов</span>
      <span router="stability-active" class="material-icons" href="/videos">videocam_outlined</span>
      <span router="stability-active" href="/videos">{{videoCount}} видео</span>
    </div>
    <div class="product-page__brand">
      <img src="{{seller.logo}}" alt="brand logo">
      {{seller.name}}
    </div>

    {{#if body.isUsedAvailable}}
      <div class="product-page__condition">
        Состояние товара:
        <div class="product-page__condition-buttons">
          <button class="condition-new {{#if body.isNewSelected}}selected{{/if}}" data-price="{{body.newPrice}}">
            <span class="product-page__condition-text">Новые <br> <span class="product-page__price-condition">{{body.newPrice}} ₽</span></span>
          </button>
          <button class="condition-used {{#if body.isUsedSelected}}selected{{/if}}" data-price="{{body.usedPrice}}">
            <span class="product-page__condition-text">Уцененные <br> <span class="product-page__price-condition">{{body.usedPrice}} ₽</span></span>
          </button>
        </div>
      </div>
    {{/if}}

    {{#each options.values}}
      <div class="product-page__option">
        <span class="product-page__option-title">{{title}}:</span>
        <div class="product-page__option-values">
          {{#each options}}
            {{#ifEquals ../type "color"}}
              <button class="product-page__color-button {{#if this.selected}}selected{{/if}}" style="background-color: {{value}};" data-link="{{link}}" title="{{value}}">
                <span class="product-page__color-circle"></span>
              </button>
            {{else ifEquals ../type "size"}}
              <button class="product-page__size-button {{#if this.selected}}selected{{/if}}" data-link="{{link}}">
                {{value}}
              </button>
            {{else}}
              <a href="{{link}}" class="product-page__text-option">{{value}}</a>
            {{/ifEquals}}
          {{/each}}
        </div>
      </div>
    {{/each}}

    <div class="product-page__characteristics">
      <h2>Характеристики</h2>
      <ul>
        {{#each characteristics}}
          <li><strong>{{@key}}:</strong> {{this}}</li>
        {{/each}}
      </ul>
    </div>

    <div class="product-page__description-product-page">
      {{description}}
    </div>

    <a href="#more-description" class="product-page__more-description-link">Перейти к описанию</a>
  </div>

  <div class="product-page__purchase-info">
    <div class="product-page__price-box">
      <div class="product-page__current-price-product-page">{{price}} ₽</div>
      <div class="product-page__old-price">{{original_price}} ₽</div>
      <div class="product-page__cart-container">
        <button class="product-page__cart-button">В корзину</button>
        <span class="material-icons product-page__favorite-icon">favorite_border_outlined</span>
      </div>
    </div>

    <div class="product-page__return-policy">
      <span class="product-page__description-key">На возврат</span>: <span class="product-page__description-value">14 дней</span>
      <br>
      <span class="product-page__description-value">Примерка</span>
    </div>
  </div>
</div>