<div class="account">
  <!-- Левая колонка -->
  <div class="account__column-personal-account">
    <div class="account__box-personal-account user-info">
      <div class="account__user-details">
        <img src="{{user.photoUrl}}" alt="User Photo" class="account__user-photo">
        <h2 class="account__user-name">{{user.name}}</h2>
        <span class="material-icons account__notification">{{#if user.notifications}}notifications_unread{{else}}notifications{{/if}}</span>
      </div>
      <div class="account__user-details">
        <div class="product-page__description-wrapper">
          <div class="product-page__description-item">
            <span class="product-page__description-key">Пол</span>: <span class="product-page__description-value gender">{{user.gender}}</span>
          </div>
          <div class="product-page__description-item">
            <span class="product-page__description-key">Почта</span>: <span class="product-page__description-value email">{{user.email}}</span>
          </div>
        </div>
        <button id="edit-user-info" class="account__edit-btn user-info" type="button">
          <span class="material-icons account__edit">edit</span>
        </button>
      </div>
      <button class="account__logout-button-personal-account" href="/logout" router="stability-active">Выход</button>

    </div>
  </div>

  <!-- Центральная колонка -->
  <div class="account__column-personal-account">
    {{#each deliveryInfo}}
      <div class="{{this.class}}">
        <div class="account__icon-personal-account">
          <span class="material-icons {{this.iconClass}}">{{this.icon}}</span>
        </div>
        <div class="{{this.detailsClass}}">
          <h3 class="{{this.titleClass}}">{{this.title}}</h3>
          <p class="{{this.textClass}}">{{this.text}}</p>
        </div>
        {{#if this.editable}}
          <button id="edit-user-address" class="account__edit-btn user-info" type="button">
            <span class="material-icons account__edit">edit</span>
          </button>
        {{/if}}
      </div>
    {{/each}}
  </div>

  <!-- Правая колонка -->
  <div class="account__column-personal-account">
    {{#each rightColumnInfo}}
      <div class="{{this.class}}">
        <div class="account__icon-personal-account">
          <span class="material-icons {{this.iconClass}}">{{this.icon}}</span>
        </div>
        <div class="{{this.detailsClass}}">
          <h3 class="{{this.titleClass}}">{{this.title}}</h3>
          <p>{{this.text}}</p>
        </div>
      </div>
    {{/each}}
  </div>
</div>
