<div class="container-personal-account">
  <!-- Левая колонка -->
  <div class="column-personal-account">
    <div class="box-personal-account user-info">
      <div class="user-details">
        <img src="{{user.photoUrl}}" alt="User Photo" class="user-photo">
        <h2 class="user-name">{{user.name}}</h2>
        <span class="material-icons notification">{{#if user.notifications}}notifications_unread{{else}}notifications{{/if}}</span>
      </div>
      <div class="user-details">
        <div class="description-wrapper">
          <div class="description-item">
            <span class="description-key">Пол</span>: <span class="description-value">{{user.gender}}</span>
          </div>
          <div class="description-item">
            <span class="description-key">Почта</span>: <span class="description-value">{{user.email}}</span>
          </div>
        </div>
        <span class="material-icons edit">edit</span>
      </div>
      <button class="logout-button-personal-account">Выйти</button>
    </div>
  </div>

  <!-- Центральная колонка -->
  <div class="column-personal-account">
    {{#each deliveryInfo}}
      <div class="box-personal-account {{this.class}}">
        <div class="icon-personal-account">
          <span class="material-icons {{this.iconClass}}">{{this.icon}}</span>
        </div>
        <div class="{{this.detailsClass}}">
          <h3 class="{{this.titleClass}}">{{this.title}}</h3>
          <p>{{this.text}}</p>
        </div>
        {{#if this.editable}}
          <span class="material-icons edit">edit</span>
        {{/if}}
      </div>
    {{/each}}
  </div>

  <!-- Правая колонка -->
  <div class="column-personal-account">
    {{#each rightColumnInfo}}
      <div class="box-personal-account {{this.class}}">
        <div class="icon-personal-account">
          <span class="material-icons {{this.iconClass}}">{{this.icon}}</span>
        </div>
        <div class="{{this.detailsClass}}">
          <h3 class="{{this.titleClass}}">{{this.title}}</h3>
          <p>{{this.text}}</p>
        </div>
      </div>
    {{/each}}
  </div>
</div>
