<link rel="stylesheet" href="/src/scripts/components/auth-menu/auth-menu.css">

<div id="{{id}}" class="auth_menu_container">
    <h1 class="logo">{{logo}}</h1>
    <h2 class="title">{{title}}</h2>
    <form id="{{formId}}" action="{{action}}" method="post">
        <span class="errors__feedback" id="error"></span>
        {{#each fields as |field|}}
            <label for="{{field.id}}">{{field.label}}:</label>
            <input type="{{field.type}}" id="{{field.id}}" name="{{field.name}}" placeholder="{{placeholder}}"
                   data-error-id="{{field.error_id}}"/>
            <span class="errors__feedback" id="{{field.error_id}}"></span>
        {{/each}}
        <button type="submit">{{submitText}}</button>
    </form>
    <div class="menu__link">{{link.text}} <a id="{{link.id}}">{{link.label}}</a></div>
</div>