<link rel="stylesheet" href="/src/scripts/components/auth-menu/auth-menu.css">

<div id="{{id}}" class="auth_menu_container">
    <h4 class="title">{{title}}</h4>

    <div class="global_errors" id="global_error" style="display: none;">
        <span class="errors__feedback" id="global_error_message">{{error_msg}}</span>
    </div>

    <form id="{{formId}}" action="{{action}}" method="post">
        <span class="errors__feedback" id="error"></span>
        {{#each fields as |field|}}
            <div class="input_container">
                <label for="{{field.id}}">{{field.label}}:</label>
                <input type="{{field.type}}" id="{{field.id}}" name="{{field.name}}" placeholder="{{placeholder}}"
                       data-error-id="{{field.error_id}}" />
                {{#if (eq field.type 'password')}}
                    <span class="toggle-password" data-field-id="{{field.id}}">
                        &#128065;
                    </span>
                {{/if}}
            </div>
            <span class="errors__feedback" id="{{field.error_id}}"></span>
        {{/each}}
        <button type="submit">{{submitText}}</button>
    </form>
    <div class="menu__link">{{link.text}} <a router="changed-active" href="{{link.href}}">{{link.label}}</a></div>
</div>
