<div id="{{id}}" class="auth_menu_container">
    <h4 class="title">{{title}}</h4>

    <div class="global_errors" id="global_error" style="display: none;">
        <span class="errors__feedback" id="global_error_message">{{error_msg}}</span>
    </div>

    <form class="form" id="{{formId}}" action="{{action}}" method="post">
        <span class="errors__feedback" id="error"></span>
        {{#each fields as |field|}}
            <div class="input_container">
                <label class="label" for="{{field.id}}">{{field.label}}</label>
                <input class="input" type="{{field.type}}" id="{{field.id}}" name="{{field.name}}" placeholder="{{placeholder}}"
                       data-error-id="{{field.error_id}}" />
                {{#if (eq field.type 'password')}}
                    <span class="toggle-password" data-field-id="{{field.id}}">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="#8A2BE2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye" width="24" height="24">
                          <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                          <circle cx="12" cy="12" r="3"></circle>
                        </svg>
                    </span>
                {{/if}}
            </div>
            <span class="errors__feedback" id="{{field.error_id}}"></span>
        {{/each}}
        <button type="submit">{{submitText}}</button>
    </form>
    <div class="menu__link">{{link.text}} <a router="changed-active" href="{{link.href}}">{{link.label}}</a></div>
</div>
