<div class="product-container">
  <div class="carousel-slider-container">
  <div id="carousel" class="carousel">
    <div class="product-page__arrow-button">
    <button class="arrow prev"><span class="material-icons">keyboard_arrow_up</span></button>
    </div>
    <div class="gallery">
    <ul>
      {{#each images}}
        <li>
          <img src="{{this}}" alt="Миниатюра" class="thumbnail" onclick="selectImage('{{this}}')">
        </li>
      {{/each}}
    </ul>
    </div>
    <div class="product-page__arrow-button">
      <button class="arrow next"><span class="material-icons">keyboard_arrow_down</span></button>
    </div>
  </div>

    <div class="slider">
      <div class="product-page__arrow-button">
        <button id="prev-button" class="slider-button"><span class="material-icons">chevron_left</span></button>
      </div>
      {{#each images}}
        <img src="{{this}}" alt="Изображение" class="slide">
      {{/each}}
      <div class="product-page__arrow-button">
        <button id="next-button" class="slider-button"><span class="material-icons">chevron_right</span></button>
      </div>
    </div>
  </div>

  <div class="product-info">
    <h1 class="product-name">{{name}}</h1>
    <div class="rating">
      <span class="text-rating">⭐ {{rating}}</span>
      <span class="text-review">{{reviewCount}} отзывов</span>
      <span class="material-icons">videocam_outlined</span> {{videoCount}} видео
    </div>

    <div class="brand">
      <img src="{{brand.logo}}" alt="brand logo">
      {{brand.name}}
    </div>

    <div class="condition">
      Состояние товара:
      <div class="condition-buttons">
        <button class="condition-new {{#if isNewSelected}}selected{{/if}}" data-price="{{newPrice}}">
          <span class="condition-text">Новые <br> <span class="price-condition">{{newPrice}} ₽</span></span>
        </button>
        <button class="condition-used {{#if isUsedSelected}}selected{{/if}}" data-price="{{usedPrice}}">
          <span class="condition-text">Уцененные <br> <span class="price-condition">{{usedPrice}} ₽</span></span>
        </button>
      </div>
    </div>

    <div class="colors">
      {{#each colors}}
        <button class="color-button {{#if this.selected}}selected{{/if}}">
          <span class="color-circle" style="background-color: {{this.code}}"></span>
        </button>
      {{/each}}
    </div>


    <div class="description-product-page">
      {{#each description}}
        <div class="description-item">
          <span class="description-key">{{this.key}}</span>: <span class="description-value">{{this.value}}</span>
        </div>
      {{/each}}
    </div>

    <a href="#more-description" class="more-description-link">Перейти к описанию</a>
  </div>

  <div class="purchase-info">
    <div class="rating">
      <span class="text-article">Артикул: {{article}}</span>  <a href="#" class="share-link">Поделиться</a>
    </div>
    <div class="price-box">
      <div class="current-price-product-page">{{currentPrice}} ₽</div>
      <div class="old-price">{{oldPrice}} ₽</div>
      <div class="cart-container">
        <button class="cart-button">В корзину</button>
        <span class="material-icons favorite-icon">favorite_border_outlined</span>
      </div>
    </div>

    <div class="return-policy">
      <span class="description-key">На возврат</span>: <span class="description-value">14 дней</span>
      <span class="description-value">Примерка</span>
    </div>
  </div>
</div>
