<button class="cart-checkout-btn" href="/order" router="changed-active">Оформить заказ</button>
<div class="right-card">
    <div class="right-card__summary">
        <!-- Строка с количеством товаров, весом и ценой -->
        <p class="right-card__total-items">
            Всего: {{totalItems}} {{pluralize totalItems 'товар' 'товара' 'товаров'}}
            <span class="right-card__total-price">{{totalPrice}}{{#if (isNotUndefined currency)}}{{currency}}{{else}}₽{{/if}}</span>
        </p>

        <!-- Горизонтальная линия -->
        <hr class="right-card__divider">

        <!-- Строка с информацией о выгоде -->
        <p class="right-card__benefit">
            Моя выгода:
            <span class="right-card__benefit-price">{{benefitPrice}}{{#if (isNotUndefined currency)}}{{currency}}{{else}}₽{{/if}}</span>
        </p>

        <!-- Строка с итоговой ценой -->
        <p class="right-card__grand-total">
            <strong>Итого:</strong>
            <span class="right-card__final-price">{{finalPrice}}{{#if (isNotUndefined currency)}}{{currency}}{{else}}₽{{/if}}</span>
        </p>
    </div>
</div>
