<div id="{{id}}" class="order">
    <h2 class="order__title">Заказ № {{orderNumber}}</h2>

    <div class="order__summary">
        <div class="order__info">
            <div class="order__info__status">
                <p>Вы получили {{deliveryDate}}</p>
                <span class="order__info__paid-status">заказ оплачен</span>
            </div>
            <div class="order__info__recipient">
                <h4>Получатель</h4>
                <div class="order__info__recipient-details">
                    <p>{{recipientName}}</p>
                    <p>{{recipientAddress}}</p>
                </div>
            </div>
        </div>

        <div class="order__total">
            <div class="order__total-header">
                <span class="order__total-items">Всего: {{totalItems}} товара</span>
                <span class="order__total-weight">{{totalWeight}} кг</span>
            </div>
            <div class="order__total-footer">
                <h2 class="order__total-label">Итого</h2>
                <span class="order__total-amount">{{totalPrice}}₽</span>
            </div>
        </div>
    </div>

    <div class="order__details">
        <h3 class="order__details-label">Состав заказа</h3>
        {{#each items as |item|}}
            <div class="order__details__item">
                <img src="{{item.image}}" alt="{{item.name}}" class="order__details__item-image"/>
                <div class="order__details__item-info">
                    <span class="order__details__item-name">{{item.name}}</span>
                    <div class="order__details__item-price-and-quantity">
                        <span class="order__details__item-price">{{item.price}}₽</span>
                        <span class="order__details__item-quantity">{{item.quantity}} шт</span>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>
