<div class="catalog">
    {{#each products}}
        <div class="card" data-link="{{url}}">
            <div class="card-image" style="background-image: url('{{image}}');"></div>
            <div class="card-info">
                <div class="price">
                    <span class="current-price">{{currentPrice}} ₽</span>
                    {{#if oldPrice}}
                        <span class="old-price">{{oldPrice}} ₽</span>
                    {{/if}}
                    {{#if discount}}
                        <span class="discount">-{{discount}}%</span>
                    {{/if}}
                </div>
                <div class="description" title="{{description}}">
                    {{shortDescription}}
                </div>
            </div>
        </div>
    {{/each}}
</div>